<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:with="active='patients'" th:replace="layout :: layout">
<body>
  <h2 th:text="${#fields.hasAnyErrors()} ? 'Kiểm tra lại thông tin' : 'Thông tin bệnh nhân'"></h2>
  <form th:action="@{/patients}" method="post" th:object="${patient}">
    <div class="form-grid">
      <div><label>Họ tên</label><input th:field="*{name}" required></div>
      <div><label>Tuổi</label><input type="number" th:field="*{age}" required></div>
      <div><label>Giới tính</label>
        <select th:field="*{gender}">
          <option>Nam</option><option>Nữ</option><option>Khác</option>
        </select>
      </div>
      <div><label>Tình trạng</label><input th:field="*{status}"></div>
      <div><label>Số hồ sơ</label><input th:field="*{recordNo}" required></div>
    </div>
    <br><button class="btn" type="submit">Lưu</button>
  </form>
</body>
</html>
